body {
    margin: 0;
}

header {
    background-color: #25242a;
    box-shadow: 0px 6px 15px #464646;
}

.t {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: sans-serif;
}

main {
    margin-left: 10px;
    margin-right: 10px;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    font-size: 1.189em;
    padding: 0px;
    padding-top: 50px;
}

.a-2 {
    margin-left: 10px;
    padding-top: 10px;
}

.a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    position: relative;
}

.a::after {
    background-color: black;
    content: " ";
    position: absolute;
    width: 0%;
    height: 2.4px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: .3s ease-in;
}

.a:hover::after {
    width: 100%;
}