body {
    margin: 0;
}

header {
    background-color: #25242a;
    box-shadow: 0px 6px 15px #464646;
}

.div {
    display: flex;
    gap: 18px;
    margin-left: 10px;
    padding-top: 10px;
}

.t {
    color: white;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
}

main {
    margin-left: 10px;
    margin-right: 10px;
}

.t-2 {
    font-size: 1.598rem;
    font-family: sans-serif;
}

.t-3 {
    font-family: sans-serif;
    font-size: 1.3em;
}

ul, ol {
    font-family: sans-serif;
    line-height: 2em;
    width: 65%;
    /* letter-spacing: .7px; */
}

.b {
    font-size: 1.12em;
    text-decoration: underline #6b6a2d;
}

footer {
    background-color: rgba(0, 0, 0, .6);
    font-size: 1.2em;
    color: white;
    text-align: center;
    padding: 10px;
}