body {
    margin: 0;
    --font-family: sans-serif;
    --font-size: 1.12em;
}

header {
    background-color: #25242a;
    box-shadow: 0px 6px 15px #464646;
}

.div {
    margin-left: 10px;
    padding-top: 10px;
    display: flex;
    gap: 18px;
}

main {
    margin-left: 10px;
    margin-right: 10px;
}

h1, h2, h3, ul, ol {
    font-family: var(--font-family);
}

.t {
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-align: center;
}

.b {
    font-size: var(--font-size);
    text-decoration: underline #6b6600;
}

ul, ol {
    width: 65%;
    line-height: 2em;
}

footer {
    background-color: rgba(0, 0, 0, .6);
    font-size: 1.2em;
    color: white;
    text-align: center;
    padding: 10px;
}